body, h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    outline: none;
}
input[type=text]{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    outline: none;
}

.breakLine{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 1px;

}

.topButtons{
    display: flex;
    margin-left: 50px;
}

.NoteBackground{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(192, 164, 164, 0.5);
    z-index: 9999;
}

.NoteBox{
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
    border-radius: 5px;
}

.NoteTitle{
    width: 100%;
    height: 80px;
    display: flex;
    gap: 15px
}

#NoteTitleInfo{
    padding-left: 5px;
    width: 250px;
    font-size: 15px;
}
#colorpicker{
    width: 50px;
    height: 50px;
    right: 0px;
}

.NoteContent{
    width: 100%;
    height: 250px;
}

#textPlace{
    width: 400px;
    height: 100%;
    padding: 5px;
    color: black;
}

.NoteButtons{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.NoteButtonBin{
    height: 25px;
    width: 70px;

}

.NotesBox{
    min-height: 92.7vh;
    padding: 15px;
    background-color: #629964;
}

.NotesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    padding: 30px;
    gap: 30px;
}

.note {
    height: 300px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(245, 244, 244);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.note:hover{
    opacity: 1;
}

.NoteDate{
    font-size: 15px;
}

#exampleNote

{
    display: none;
}